nav(class='navbar navbar-expand-sm bg-dark navbar-dark')
    div(class='container-fluid')
        ul.navbar-nav 
            li.nav-item 
                a.nav-link.active(href="/") Moody 
            li.nav-item 
                a.nav-link(href="/history") History