div.container.p-5.border.mt-4
    div.row.align-items-center
        div.col-sm-6
            h1 Mood Tracker
            p.fs-5 Thank you for submitting your mood!

        div.col-md-6
            div.row-p-0
                div.card
                    div.card-header Your mood submission 
                    div.card-body
                        h5.card-title Mood: #{request.mood}
                        if request.description
                            p.card-text #{description}
                        else 
                            p.card-test 
                        if request.quote
                            p.card-text Daily quote: 
                                strong  #{request.quote}
                        else 
                            p.card-text
                            
            div.row
                if request.video
                    div.container.p-2.mt-3 !{request.video}
