div.container.p-5.border.mt-4
    div.row.align-items-center
        div.col-sm-6
            h1 Moody
            p.fs-5 Here is a video based off a random mood!

        div.col-md-6
            div.row 
                div.card
                    div.card-body !{data}